<div class="footer">
       
    <div class="box-1">
        <h3 class="footer-heading">About</h3>
        <a href="">Services</a><br>
        <a href="">Mission</a><br>
        <a href=""> link three</a>

    </div>
    <div class="box-2">
        <h3 class="footer-heading">Services</h3>
        <a href="">workout programs</a><br>
        <a href="">Live Trainer Registration</a><br>
        <a href="">Healthy Foods</a><br>
    </div>
    <div class="box-3">
        <h3 class="footer-heading">Follow Us</h3>
        <a href="">Twitter</a><br>
        <a href="">Facebook</a><br>
        <a href="">Instagram</a><br>
    </div>

  

</div>
<div class="footer-2">

<div class="box-4">
    <span class="copyright">&copy; 2022 BraveHeart</span>

</div>   