<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs')%>
</head>
<body>

    <header>
        <%- include ('./partials/nav.ejs')%>

    </header>
   

<div class="mainFood">   
    <div class="Back">
        <h2 class="add"><a href="/home">Go Back</a></h2><br>
    </div>
 
    <div class="food">
        <div class="card m-2" style="width: 18rem;">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2016/4/26/0/HE_kwon-Ground-Turkey-Enchilada-Stir-Fry-with-Couscous_s4x3.jpg.rend.hgtvcom.966.725.suffix/1461695054811.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Healthy Dinners in 40 Minutes or Less.</p>
            <a href="https://www.foodnetwork.com/healthy/packages/healthy-every-week/quick-and-simple/healthy-dinners-in-40-minutes-or-less" class="btn btn-primary">Read</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/healthysnacks-1596035110.jpg?crop=0.979xw:0.490xh;0.0112xw,0.258xh&resize=980:*" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">50 Healthy Snack To Get You through Your Work Day.</p>
            <a href="https://news.yahoo.com/13-smart-snacks-people-flat-201253776.html" class="btn btn-primary">Read</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://imagesvc.meredithcorp.io/v3/jumpstartpure/image?url=https://static.onecms.io/wp-content/uploads/sites/44/2019/08/26232310/5634013.jpg&w=1280&h=720&q=90&c=cc" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Walnut-Rosemary Crusted Salmon</p>
            <a href="https://www.eatingwell.com/gallery/7994329/30-minute-brain-health-dinner-recipes/?slide=ba6775d9-3d01-427f-a64f-c092f756657f#ba6775d9-3d01-427f-a64f-c092f756657f" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
    <footer>
        <%- include('./partials/footer.ejs')%>    

    </footer>
</div>         
</body>
</html>