<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs')%>

</head>
<body>
    <header>
        <%- include ('./partials/nav.ejs')%>
    </header>  
    <div class="mainLink">
    <h1 style="text-align: center ; color: white;">Meet With Your Trainer Today! </h1>
    <div class="meeting">
    <iframe src="https://brave-heart.whereby.com/demo-7da4430d-3ca5-4a79-a226-48cc75c056c5" allow="camera; microphone; fullscreen; speaker; display-capture" width="80%" height="800" style="margin-left: 10%;"></iframe>
    </div> 
    </div>
    <footer>
        <%- include('./partials/footer.ejs')%>    
    </footer>   
</body>
</html>