
footer{
    background-color: gray;
}
.footer{
    display: flex;
    margin-top: 0;
    height: 15vh;
    justify-content: center;
    background-color: #28282B;
    justify-content: space-around;
}

h3{
    font-size: small;
}


.footer-2{
    display: flex;
    margin-top: 0;
    background-color: grey;
    font-size: small;
    justify-content: center;
}

a:hover{
    color: green;

}


a{
    text-decoration: none;
    color: white;
    size: 30px;
}

.main{
    display: flex;
    align-items: center;
}

.main{
    display: flex;
    background-image: url(https://24wallpapers.com/app-gateway/wallpaper-uploads/wallpapers/legacyUploads/wi502c3471de8-5f42-4d42-9d56-aa24d114bca017.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}

.cardWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    height: 90%;
    width: 80%;
    margin-left: 10%;


}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.add{
    display: flex;
    justify-content: center;

    height: 2.5em;
}

.back{
    display: flex;
    margin-top: 0;
}

.showcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
.log{
    height: 100vh;
    background-image: url(https://evercon.in/images/sele_baground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 20px;
}
.mainShow{
    background-image: url(https://cdn.wallpapersafari.com/19/23/z7MdVL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainShoulders{
    background-image: url(https://evercon.in/images/sele_baground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card :hover{
   box-shadow: inset 18rem 0 0 0 #025839; 
   transition: ease-in 0.2s;
}

.mainChest{
    background-image: url(https://evercon.in/images/sele_baground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainLegs{
    background-image: url(https://evercon.in/images/sele_baground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainBack{
    background-image: url(https://evercon.in/images/sele_baground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.mainArms{
    background-image: url(https://evercon.in/images/sele_baground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainEdit{
    background-image: url(https://cdn.wallpapersafari.com/19/23/z7MdVL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.editForm{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #28282B;
    border-style: solid;
    border-width: 1em;

}

.input{
    display: flex;
    justify-content: center;
    margin: 1em;

}

.food{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}


.mainFood{
    background-image: url(https://cdn.wallpapersafari.com/19/23/z7MdVL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.meeting{
    height: 100vh;
}

.mainLink{
    background-image: url(https://cdn.wallpapersafari.com/19/23/z7MdVL.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}